<div class="jumbotron center">

<H1>About Us</H1>
<p>We are working on our One Month Rails pinteresting app</p>

<p>To start building <%=link_to "Go here", "http://www.techcrunch.com/", class: "btn btn-primary btn-lg" %></p>


</div>