
<div class="jumbotron center">
	<h1>Welcome to my app</h1>

	<% if user_signed_in? %>
		# do something
		<% else %>

			<p>
				<%=link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
				<%=link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</p>
	<% end %>


</div>


								<li><a href="fdsf" <.a></li>		
								<li><a href="fdsaf" <.a></li>		
								<li><a href="asdfdsa" <.a></li>		
								<li><a href="fdsafdsafdsa" <.a></li>		
								<li><a href="fds" <.a></li>		
								<li><a href="hfjh" <.a></li>		
								<li><a href="retwer" <.a></li>		
								<li><a href="gdsf" <.a></li>		
								<li><a href="werew" <.a></li>		
								<li><a href="iuyt" <.a></li>		
								<li><a href="trew" <.a></li>		
								<li><a href="fgsdf" <.a></li>		
								<li><a href="yer" <.a></li>		
								<li><a href="wert" <.a></li>										<a href="" <.a>